body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  background-image: url(img/top.jpg);
  background-size: cover;
  height: 180px;
  width: auto;
  text-align: center;
  /* background-color: darkgreen; */
  display: block;
}



h1 {
  margin-bottom: 0px;
  color: antiquewhite;
}

.title-logo {
  text-align: center;
  display: inline-block;
  height: 180px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  /* background-color: chartreuse; */
  background-color: rgba(212, 226, 221, 0.5);
  border-radius: 30px;
  /* padding: 100px; */
  /* opacity: 0.5; */
  float:center;
  height: 99px;
  width: 166px;
} 

.skills {
  background-color: rgb(0, 247, 255);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skill {
  background-color: rgb(251, 255, 0);
  border-radius: 20px;
  
  display: inline-block;
  width: 25%;
}
